In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./House Data.csv')

In [4]:
df.head()

,Unnamed: 0,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
0,0,adalar,"3,100,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",24 Şubat 2022,Satılık,160 m2,21 Ve Üzeri,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,adalar,"1,600,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",02 Mart 2022,Satılık,120 m2,5-10,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,adalar,"18,500,000TL","['Anasayfa', 'Satılık Müstakil Ev', 'İstanbul ...",11 Şubat 2022,Satılık,350 m2,21 Ve Üzeri,2,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,adalar,"9,500,000TL","['Anasayfa', 'Satılık Bina', 'İstanbul Satılık...",11 Şubat 2022,Satılık,550 m2,11-15,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,adalar,"25,000,000TL","['Anasayfa', 'Satılık Köşk', 'İstanbul Satılık...",19 Ocak 2022,Satılık,840 m2,21 Ve Üzeri,4,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

Unnamed: 0                      0
district                        0
price                           0
address                         0
AdUpdateDate                    0
Category                        0
GrossSquareMeters               0
BuildingAge                     0
NumberFloorsofBuilding          0
UsingStatus                     0
EligibilityForInvestment     3649
BuildStatus                 13924
TitleStatus                 15443
ItemStatus                   6823
NumberOfBathrooms               0
NumberOfWCs                 17026
AdCreationDate                  0
Type                            0
NetSquareMeters                 0
NumberOfRooms                   0
FloorLocation                   0
HeatingType                     0
CreditEligibility               0
InsideTheSite                   0
StructureType               14749
MortgageStatus              19097
Swap                         4316
Balcony                     16046
PriceStatus                     0
RentalIncome                19340
NumberOfBalconies           19831
BalconyType                 20435
HallSquareMeters            23722
WCSquareMeters              24290
IsItVideoNavigable?         19674
Subscription                20667
BathroomSquareMeters        24043
BalconySquareMeters         24115
dtype: int64

In [6]:
df.describe()

         Unnamed: 0  NumberFloorsofBuilding
count  25155.000000            25155.000000
mean   12577.000000                7.757782
std     7261.767347                6.952397
min        0.000000                1.000000
25%     6288.500000                4.000000
50%    12577.000000                5.000000
75%    18865.500000                8.000000
max    25154.000000               71.000000

In [7]:
df.dtypes

Unnamed: 0                   int64
district                    object
price                       object
address                     object
AdUpdateDate                object
Category                    object
GrossSquareMeters           object
BuildingAge                 object
NumberFloorsofBuilding       int64
UsingStatus                 object
EligibilityForInvestment    object
BuildStatus                 object
TitleStatus                 object
ItemStatus                  object
NumberOfBathrooms           object
NumberOfWCs                 object
AdCreationDate              object
Type                        object
NetSquareMeters             object
NumberOfRooms               object
FloorLocation               object
HeatingType                 object
CreditEligibility           object
InsideTheSite               object
StructureType               object
MortgageStatus              object
Swap                        object
Balcony                     object
PriceStatus                 object
RentalIncome                object
NumberOfBalconies           object
BalconyType                 object
HallSquareMeters            object
WCSquareMeters              object
IsItVideoNavigable?         object
Subscription                object
BathroomSquareMeters        object
BalconySquareMeters         object
dtype: object